.btn {
  @apply inline-block rounded-full border border-transparent px-6 py-2 font-medium capitalize transition cursor-pointer;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-white hover:bg-white/90 duration-500 bg-white text-[#7bafd4];
}

.btn-secondary {
  @apply border-[#5a9bc4] bg-[#5a9bc4] text-white;
}

.btn-outline-secondary {
  @apply hover:bg-white/10 border-white bg-transparent text-white;
}
