.header {
  @apply py-4;
}

/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-text-dark;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply max-lg:overflow-auto max-lg:max-h-[80dvh] text-left max-lg:bg-body max-lg:border max-lg:border-b-[4px] max-lg:border-text-dark max-lg:rounded-xl max-lg:mt-5 max-lg:p-3;
}

.nav-link {
  @apply text-text-dark hover:text-secondary  block font-medium transition max-lg:px-5 px-2 py-3 max-lg:hover:bg-secondary/5 rounded-lg;
}
.nav-link.active {
  @apply text-secondary;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 min-w-[180px] bg-body p-2 shadow border border-b-[4px] border-text-dark rounded-xl max-lg:mx-5 hidden group-hover:lg:block lg:invisible lg:absolute lg:block lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100;
}

.nav-dropdown-item {
  @apply mb-2;
}

.nav-dropdown-link {
  @apply block py-2 font-medium text-text-dark transition hover:text-secondary hover:bg-secondary/5 px-5 rounded-lg min-w-max;
}
.nav-dropdown-link.active {
  @apply text-secondary;
}

.header-reveal {
  animation: slide-in-header 0.5s ease;
  @apply fixed bg-body/90 !top-0 backdrop-blur-lg shadow-sm;
}

@keyframes slide-in-header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
