/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}
input#nav-toggle:checked + label #hide-button {
  @apply block;
}
input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:block;
}

/* swiper pagination */
.testimonial-slider-pagination {
  .swiper-pagination-bullet {
    @apply h-2.5 w-2.5 bg-light opacity-100;
  }
  .swiper-pagination-bullet-active {
    @apply h-4 w-4 bg-primary;
  }
}

.feature-pagination-item {
  @apply transition-all duration-300 ease-in-out;
}

.feature-pagination-item:hover {
  @apply bg-gray-50;
}

.feature-pagination-item.active {
  @apply bg-[#e8f4fc] border-l-2;
  border-left-color: #7bafd4;
  .feature-pagination-icon {
    @apply transition-colors duration-300;
    color: #5a9bc4;
  }
}
